@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #111;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 10em;
}

.green {
    color: #2ec27e;
}

.orange {
    color: white;
    text-decoration: underline;
}

.mt-5 {
   margin-top: 2%;
}
