@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 10em;
}

.green {
    color: #5ffa68;
}

.orange {
    color: white;
    text-decoration: underline;
}

.mt-5 {
   margin-top: 2%;
}

a:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
